<h1>わっしょい</h1>
      
<% @products.each do |product| %>
  商品名：<%= product.name %><br>
  料金：<%= product.price %>
  <%= link_to '購入',  '/add_item', product: {id: product.id}, method: :post, class: 'btn'%><br>
<% end %>